/* src/App.css */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Kiểu dáng chung */
.layout {
  display: flex;
  flex-direction: column;
  width: 100%; 
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  background-color: #efebeb;
}

.content {
  margin-top: 78px;
  left: 0;
  right: 0;
  padding: 30px 50px;
  min-width: 100%;
  min-height: calc(100vh - 80px);
  box-sizing: border-box;
}